@charset "UTF-8";

<style type="text/css">
	
		header{
			height: 70px;
		}
		h1 {
			background-color: #D2D2FF;
			border-radius: 50px;
			margin-top: 20px;
    		margin-bottom: 20px;
    				
		}
		#logo{
			padding-top:10px;
			padding-left: 30px;
		}
		ul{	
			list-style:none;		
			text-align: center;
			padding: 10px 0px;	
			margin-top: 10px;
			margin-bottom: 0px;	
		}
		ol{
			padding-left: 0px;
		}
		li {
			padding: 10px;
			text-align: center;
			border-radius: 50px;
			margin-bottom: 10px;
		}
		ol li {		
			list-style:none;
			text-decoration: none;
			font-size: 18pt;
			background-color: #B4E5FF;
		}
		ol li a{
			text-decoration: none;
			color: white;
		}
		ol li a:hover {
			color: #6478FF;
		}
		ul li a:hover {
			color: yellow;
		}
		ul li {
			display:inline;
			padding:0px 10px;
			letter-spacing: 5px;
			text-transform: uppercase;
			font-size: 15pt;
		}
		ul li a {
			text-decoration: none;
			padding-left: 50px;
			padding-right: 50px;
			color: #3232FF;
		}
		ul li a:hover {
			color: #6478FF;
		}
		nav{
			background-color: #B4B4FF;
			border-radius: 50px;
			
		}

		#left{
			float: left;
			height: calc(100vh - 280px);
			width:calc(20% - 30px);
			background-color: #9BC3FF;
			border-radius: 50px;
			margin-top: 10px;	
			
		}
		#right{
			float: left;
			height: calc(100vh - 280px);
			width:calc(20% - 30px);
			background-color: #9BC3FF;
			border-radius: 50px;
			margin: 10px;
			
		}
		section, article {
			float: left;
			width: 60%;
			background-color: #BEEFFF;
			border-radius: 50px;
			margin: 10px;
		}
		
		section {
			border-radius: 50px;
			height: calc(100vh - 280px);
			margin: 10px;
		}
		
		footer {
			line-height:70px;
			background-color: #D2D2FF;
			clear: both;
			border-radius: 50px;
			text-align: center;
			font-size: 13pt;
			
		}
		h2 {
			text-align: center;
		}
		
		h4 {
			margin: 0px;
		}
		iframe {
			border-radius: 50px;
			width: 160%;
		}
		form {
			padding-left: 60px;
		}
		#login {
			width: 300px;
			background-color: #BEEFFF;
			border-radius: 30px;
			margin-left: 20px;
			
		}
	</style>